.selectionmenu {
	display: flex;
	justify-content: center;
	background-color: rgb(235, 235, 235);
}

.popover {
	pointer-events: none;
}

.navBackground {
	background-color: rgb(50, 50, 50);
	display: flex;
}

.mainNav {
	display: flex;
	align-items: center;
	font-family: sans-serif;
	justify-content: space-around;
	width: 100%;
	margin: 0 12%;
	height: 12vh;
}

.mainNavlinks {
	display: flex;
	list-style: none;
	justify-content: space-around;
	width: 10%;
}

.mainNavItems {
	font-size: 0.8em;
	font-weight: 500;
	color: rgb(210, 210, 210);
	text-decoration: none;
}

.catalogNav {
	display: flex;
	margin: 3% 0 1% 8%;
	align-items: center;
	font-family: sans-serif;
	justify-content: space-around;
	font-size: 1.3em;
	font-family: "Ranchers", cursive;
}

.catalogItems {
	color: rgb(33, 33, 33);
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
}

.catalogItems:hover {
	opacity: 0.5;
	text-decoration: underline;
}

.mainNavItems:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.lemon {
	width: 5%;
	cursor: pointer;
}

.searchBar {
	display: contents !important;
}

.btn {
	left: 5%;
	width: 6%;
	font-size: 0.5em;
}

.card {
	width: 75%;
	height: 55vh;
	margin: 5%;
	box-shadow: 0 10px 20px rgb(172, 169, 169), 0 6px 6px !important;
	border-radius: 20px !important;
}

.menImg {
	width: 100%;
	height: 52vh;
}

.next {
	width: 10%;
}

.card:hover {
	background-color: rgb(30, 30, 50);
	opacity: 0.94;
}

.card:hover .next {
	transform: translateX(80%);
}

.textMen {
	color: black;
}

.card:hover .textMen {
	transform: translateX(10%);
}

.secondpage {
	display: flex;
	position: relatiave;
	color: white;
	height: 25vh;
	justify-content: center;
	align-items: center;
	background-color: rgb(114, 212, 199);
}

.secondpageCont {
	display: flex;
	position: absolute;
	top: 31%;
	width: 100%;
	height: 35vh;
	left: 12%;
}

.secondpageCont ul:hover > *:not(:hover):not(button) {
	opacity: 0.5;
}

.slides {
	display: flex;
	height: 32vh;
	justify-content: center;
}

.eachslide {
	display: flex;
	flex-direction: column;
	width: 27%;
	justify-content: space-around;
	cursor: pointer;
}

.eachslide img {
	border-radius: 50%;
	margin: auto;
	text-align: center;
	height: 25vh;
	object-fit: cover;
}
.eachslide p {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
}

.slides:hover > *:not(:hover) {
	opacity: 0.4;
}

.popularcatalog {
	display: inline-block;
	line-height: 1em;
	font-size: 5rem;
	margin-top: 7.9%;
	margin-left: 3%;
	position: absolute;
	background: linear-gradient(to bottom, black 50%, white 50%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.thirdPage {
}

.prelastpage {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 55%;
	height: 140vh;
	width: 100%;
	color: #fff;
}

.emailsend {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-left: 10%;
}
.pagecontent {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0%;
	left: 0%;
	height: 50vh;
	background: rgb(200, 222, 222);
	margin-top: -1%;
	justify-content: center;
	align-items: center;
}

.enterEmail {
	font-family: "Roboto", sans-serif;
	margin-top: 1em;
	color: #333;
	font-size: 1.2rem;
	padding: 1.2rem 1.5rem;
	border-radius: 0.3rem;
	background: white;
	border: none;
	width: 28%;
}

.emailButton {
	width: 4%;
	height: 77%;
	transform: translate(-252%, 15%);
	font-weight: 200;
	font-size: 20px;
	background-color: white;
	border-radius: 0.3rem;
	transition-duration: 0.4s;
	border: 2px solid rgb(65, 100, 100);
	cursor: pointer;
}

.enterEmail:focus {
	border: 2px solid;
	box-shadow: 0.2em 0.2em 1.5em 0.3em rgb(68, 102, 102);
}

.labelEmail {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	margin-top: 0.7rem;
	color: black;
	font-weight: 600;
	transition: all 0.3s;
	transform: translate(-20rem, -4.4rem);
}

.enterEmail:placeholder-shown + .labelEmail {
	opacity: 0;
	transform: translate(-20rem, 0);
}
