.selectionmenu {
	display: flex;
	justify-content: center;
	background-color: rgb(235, 235, 235);
}

.popover {
	pointer-events: none;
}

.navBackground {
	background-color: rgb(50, 50, 50);
	display: flex;
}

.mainNav {
	display: flex;
	align-items: center;
	font-family: sans-serif;
	justify-content: space-around;
	width: 100%;
	margin: 0 12%;
	height: 12vh;
}

.mainNavlinks {
	display: flex;
	list-style: none;
	justify-content: space-around;
	width: 10%;
}

.mainNavItems {
	font-size: 0.8em;
	font-weight: 500;
	color: rgb(210, 210, 210);
	text-decoration: none;
}

.catalogNav {
	display: flex;
	margin: 3% 0 1% 8%;
	align-items: center;
	font-family: sans-serif;
	justify-content: space-around;
	font-size: 1.3em;
	font-family: "Ranchers", cursive;
}

.catalogItems {
	color: rgb(33, 33, 33);
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
}

.catalogItems:hover {
	opacity: 0.5;
	text-decoration: underline;
}

.mainNavItems:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.lemon {
	width: 5%;
	cursor: pointer;
}

.searchBar {
	display: contents !important;
}

.btn {
	left: 5%;
	width: 6%;
	font-size: 0.5em;
}

.card {
	width: 75%;
	height: 55vh;
	margin: 5%;
	box-shadow: 0 10px 20px rgb(172, 169, 169), 0 6px 6px !important;
	border-radius: 20px !important;
}

.menImg {
	width: 100%;
	height: 52vh;
}

.next {
	width: 10%;
}

.card:hover {
	background-color: rgb(30, 30, 50);
	opacity: 0.94;
}

.card:hover .next {
	transform: translateX(80%);
}

.textMen {
	color: black;
}

.card:hover .textMen {
	transform: translateX(10%);
}

.anotherpage {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 140vh;
	width: 100%;
	color: #fff;
}

.emailsend {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-left: 10%;
}
.pagecontent {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0%;
	left: 0%;
	height: 50vh;
	background: rgb(200, 222, 222);
	margin-top: -1%;
	justify-content: center;
	align-items: center;
}

.enterEmail {
	font-family: "Roboto", sans-serif;
	margin-top: 1em;
	color: #333;
	font-size: 1.2rem;
	padding: 1.2rem 1.5rem;
	border-radius: 0.3rem;
	background: white;
	border: none;
	width: 30%;
}

.emailButton {
	width: 4%;
	height: 78%;
	transform: translate(-251%, 15%);
	font-weight: 700;
	font-size: 20px;
}

.enterEmail:focus {
	border: 2px solid;
	box-shadow: 0.2em 0.2em 1.5em 0.3em rgb(68, 102, 102);
}

.labelEmail {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	margin-top: 0.7rem;
	color: black;
	font-weight: 600;
	transition: all 0.3s;
	transform: translate(-20rem, -4.4rem);
}

.enterEmail:placeholder-shown + .labelEmail {
	opacity: 0;
	transform: translate(-20rem, 0);
}
